body {
    width: 90%;
    margin: 0 auto; }
  
  ::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none; }
  
  .label {
    position: sticky;
    top: 0; }
    .label__top {
      width: 100%;
      background-color: rgba(255, 136, 0, 0.8);
      height: 80px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      /* margin-left: -5vw; */
      line-height: 80px; }
    .label__triangle {
      width: 0;
      height: 0;
      margin: 0 auto;
      border-top: 40px solid rgba(255, 136, 0, 0.8);
      border-right: 40px solid transparent;
      border-left: 40px solid transparent; }
  
  .buttons {
    display: flex;
    margin: 30px auto;
    width: 50%;
    height: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly; }
    .buttons__button {
      display: block;
      width: 40px;
      height: 40px;
      font-weight: bold;
      background-color: rgba(255, 136, 0, 0.8);
      border-radius: 5px;
      font-size: 90%;
      color: white;
      line-height: 40px;
      text-align: center; }
      .buttons__button:hover {
        background-color: white;
        color: rgba(255, 136, 0, 0.8);
      }
  
  .flexbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .flexbox__teacherbox {
      background-color: rgba(211, 206, 197, 0.171);
      width: 16vw;
      height: auto;
      margin-bottom: 30px;
      padding-bottom: 20px;
      border: 1px solid black;
      border-radius: 2vw; }
    .flexbox__teacherbox:hover {
      background-color: rgba(255, 136, 0, 0.8); }

      .teacher {
        position: relative;
      }

      .teacher__noimg {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 16vw;
        border-radius: 2vw 2vw 0 0;
        object-fit: cover;
      }
  
  .teacher__img {
    width: 100%;
    height: 16vw;
    border-radius: 2vw 2vw 0 0;
    object-fit: cover; }
  .teacher__name {
    font-weight: bold;
    margin-left: 2vw;
    font-size: 20px;
    width: 80%;
    margin-bottom: 4vw;
    margin-top: 1vw }
  .teacher__info {
    margin-left: 2vw;
    font-size: 15px;
    line-height: 1.5em;
    width: 80%;
    word-wrap: break-word; }
  
  @media all and (max-width: 700px) {
    .flexbox__teacherbox {
      width: 45%;
      }
      .teacher__img {
        height: 40vw; }
      .teacher__noimg {
        height: 40vw
      }
      
      }
  
  .leftside {
    width: 40%;
    display: inline-block;
  }

  .topname {
    font-size: 30px;
    font-weight: bold;
    color: rgba(255, 136, 0, 0.8); 
    margin: 20px auto
  }

  .leftside__img {
    width: 90%;
    height: 30vw;
    object-fit: cover
  }

  .rightside {
    width: 55%;
    display: inline-block;
    font-size: 0;
    vertical-align: top;
  }

  .info {
    margin-bottom: 20px;
  }

  .info__key {
    display: inline-block;
    color: rgba(255, 136, 0, 0.8);
    font-weight: bold;
    width: 130px;
    font-size: 20px;
  }

  .info__value {
    display: inline-block;
    width: 60%;
    font-size: 20px;
    
  }

  .comment {
    font-size: 18px;
    width: 100%;
    margin:30px auto;

  }

  .back {
    display: block;
    margin-bottom: 30px;
  }

  @media all and (max-width: 700px) {

    .leftside {
      display: block;
      width: 70%;
    }

    .rightside {
      display: block;
      width: 90%;
    }

    .leftside__img {
      height: 60vw;
    }

    .buttons {
      width: 80%;
    }

  }
  
  
  
  /*# sourceMappingURL=hosting2.css.map */
  